@model Skill

<div class="row mb-2 d-flex justify-content-between">
    <div class="col-10">
        @Html.DropDownListFor(x => x.SkillId, ViewBag.skill as SelectList,"---select---", new{@class="form-select"})
    </div>
    <div class="col-2">
        <a id="btnRemove" class="btn btn-danger">Remove</a>
    </div>
</div>
