@model CandidateVM
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-6">
            <h2 class="alert alert-info">Edit Candidate info</h2>
            <input asp-for="CandidateId" type="hidden"/>
            <input asp-for="Image" type="hidden" />
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row mb-2">
                <label asp-for="CandidateName"></label>
                <input asp-for="CandidateName" class="form-control" />
            </div>
            <div class="row mb-2">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
            </div>
            <div class="row mb-2">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
            </div>
            <div class="row mb-2">
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" class="form-control" />
                <div>
                    <img src="@Model.Image" width="45" />
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="Fresher"></label>
                @Html.CheckBoxFor(x => x.Fresher)
            </div>
        </div>
        <div class="col-6">
            <h2 class="alert alert-info">Skill</h2>
            <a id="btnPlus" class="btn btn-primary mb-2">Add</a>
            <div id="container">
                @foreach (var item in Model.candidateskill)
                {
                    <script>
                        LoadData(@item);
                    </script>
                }
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-primary">Update</button>
    </div>
</form>

